@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    margin: 0;
    height: 100vh;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    display: flex;
    flex-direction: column;
    width: clamp(175px, 40vw, 300px);
    padding: 1rem 0.5rem;
    gap: 0.75rem;
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    label {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        input {
            border: 1px solid black;
            padding: 0.25rem 0.5rem;
        }
    }

    button[type="submit"] {
        border-radius: 0.5rem;
        border: none;
        background-color: #00aa00;
        font-size: 1.4rem;
        color: white;
        cursor: pointer;
    }
}

model-viewer {
    width: 100%;
    height: 100%;
}

#loaderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.hidden {
        display: none;
    }
    
    h3 {
        color: white;
    }

    .loader {
        --stroke-width: 0.4rem;
        --stroke-color: whitesmoke;
        --square-size: 2rem;
        --border-radius: 1rem;
    
        display: grid;
        grid-template-columns: var(--square-size) var(--square-size);
        grid-template-rows: var(--square-size) var(--square-size);
        gap: 0.5rem;
        animation: load 3s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    
        .square {
            border: var(--stroke-width) solid var(--stroke-color);
            box-sizing: border-box;
            width: 100%;
            height: 100%;
        }
    
        #square1 {
            border-radius: var(--border-radius) 0 0 0;
        }
    
        #square2 {
            border-radius: 0 var(--border-radius) 0 0;
        }
    
        #square3 {
            border-radius: 0 0 0 var(--border-radius);
        }
    
        #square4 {
            border-radius: 0 0 var(--border-radius) 0;
        }
    }
}

@keyframes load {
    0% {
        grid-template-columns: var(--square-size) calc(var(--square-size) * 3);
        grid-template-rows: var(--square-size) calc(var(--square-size) * 3);
    }

    25% {
        grid-template-columns: calc(var(--square-size) * 3) var(--square-size);
        grid-template-rows: var(--square-size) calc(var(--square-size) * 3);
    }

    50% {
        grid-template-columns: calc(var(--square-size) * 3) var(--square-size);
        grid-template-rows: calc(var(--square-size) * 3) var(--square-size);
    }

    75% {
        grid-template-columns: var(--square-size) calc(var(--square-size) * 3);
        grid-template-rows: calc(var(--square-size) * 3) var(--square-size);
    }

    100% {
        grid-template-columns: var(--square-size) calc(var(--square-size) * 3);
        grid-template-rows: var(--square-size) calc(var(--square-size) * 3);
    }
}
